//
// User
//

.c-user {

    @include element(score) {
        @include shadow(1);
        padding: $gutter / 2 $gutter;
        background-color: $white-ter;
        border: 1px solid $grey-lighter;
    }

}
