<!doctype html>
<html id="frunt">
    <head>
        {% block head %}
            {% include '_includes/layout/head' %}
        {% endblock head %}
    </head>
    <body class="o-body">
        <div class="o-app js-app">
            {% block content %}

            {% endblock %}

            {% block footer %}
                {% include '_includes/layout/footer' %}
            {% endblock %}
        </div>

        {% block foot %}
            {% include '_includes/layout/foot' %}
        {% endblock foot %}

    </body>
</html>
