<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>Tweddit</title>
<meta name="description" content="">

<!-- Styles -->
<link rel="shortcut icon" href="favicon.png">
<link rel="stylesheet" href="/css/style.css">

<!-- Fonts -->
<script src="https://use.fontawesome.com/b84ed6f348.js"></script>

<script>
    window.App = {
        user: {{ currentUser | json | safe }},
        loggedIn: {% if currentUser %}true{% else %}false{% endif %}
    }
</script>
